* {
  box-sizing: border-box
}

html,
body {
  background: $bg-color;
  color: $text-color;
  font-size: $text-size;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
}

a {
  color: $silver;
  text-decoration: none;
  transition: all .25s ease-in-out
}

hr {
  border: 0;
  height: 1px;
  background: #e5e5e5;
}

a:hover,
a:active {
  color: #3498db
}

ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0
}

@for $h from 1 to 6 {
  .container h$h {
    padding: 10px;
  }
}
