$bg-color: #ffffff;
$text-color: #333333;
$text-size: 16px;

$emerald: #2ecc71;
$turq: #1abc9c;
$priver: #3498db;
$amethys: #9b59b6;
$asph: #34495e;
$greensea: #16a085;
$neph: #27ae60;
$belo: #2980b9;
$wisteria: #8e44ad;
$midblue: #2c3e50;
$sunfl: #f1c40f;
$carrot: #e67e22;
$aliz: #e74c3c;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$orange: #f39c12;
$pumpkin: #d35400;
$pomeg: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;
$edred: #d24c30;
